*{margin: 0px; padding: 0px; box-sizing: border-box;}

a {
	text-decoration: none;
}

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,170,255,0.3), rgba(0,170,255,0.3)), url('../pictures/1 (71).jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
	position: relative;

}

.header::before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: 0.8;
	z-index: -1;
	background: linear-gradient(to right, #B9FFFC, #87EBE7);

}

.navbar::before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: 0.8;
	z-index: -1;
	background: linear-gradient(to right, #B9FFFC, #87EBE7);
}

.nav-item a{
	font-weight: bold;
	color: white;

}

.header-section{
	width: 100%;
	height: inherit;
	color: white;
	position: relative;
	text-align: center;
}

.center-div{
	width: 100%;
	height: auto;
	top: 50%;
	bottom: 50%;
	position: absolute;

}

.header-buttons a{
	border: 1px solid white;
	border-radius: 100px;
	padding: 10px 35px;
	margin: 5px 5px;
	text-decoration: none;
	text-align: center;

}
.header-buttons a:hover{
	text-decoration: none;
	color: black;
	background-color: yellow;
	box-shadow: 0 0 20px 0 lightgrey;
}

.center-div p{
	padding: 10px 0 10px 0;
	font-size: 18px;
}
.header-extradiv{
	width: 100%;
	height: auto;
	margin: 100px 0;

}

.extra-div{
	text-align: center;
	transition: 0.3s;

}
.extra-div h2{
	font-size: 15px;
	font-weight: bold;
	margin: 16px 0 15px 0;
}

.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}

.names h3{
	font-size: 20px;
	font-weight: bold;
	font-family: verdena;
}

.names{
	margin: 20px 0;
}

.nsection h2{
	font-family: sans-serif;
	font-weight: bold;
}

.nsection{
	background-color: #B0E0E6;
	padding: 50px 0;
	color: black;
	margin-bottom: 50px;
}

.naya h3{
	font-size: 20px;
	font-weight: bold;
	font-family: verdena;

}
.service{
	margin-top: 34px;

}
.iconss{
	display: flex;
	justify-content: center;
	align-items: center;


}

i{
	color:blue;
}

.nflex{
	display: flex;
	flex-direction: horizontal;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	transition: 0.3s; 

}

.depart{
	color: darkblue;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 30px 0 50px 0;


}
.nflex div:hover{
	
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-10px);
	background-color: white;
	color: black;

}

.nflex div h2,h3{
	font-family: "Fira Sans", serif;
	font-size: 25px;
}

.Branch-Head{
	margin:60px 0;
}


.price{
	width: 100%;
	padding: 50px;
	height: 100vh;
	position: relative;
}

.price::before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(160deg, #B9FFFC 50%, #fff 0%);
}



.card-body li{
	list-style: none;
	text-align: center;
	font-family: cursive;
	margin: 10px 0px;
	line-height: 1.6;

}

.card{
	transition: 0.4s ease;
	padding: 0px;
	margin: 20px;
}
.card-header{
	font-weight: bold;
	font-size: 20px;
	font-family: verdena;
	background:#fff!important;
}

.card-body{
	padding:20px 0!important;
}

.contain{
	margin-bottom: 60px;
}

.card-footer a{
	border: 1px solid skyblue;
	border-radius: 100px;
	padding: 7px 35px;
	margin: 5px 5px;
	text-decoration: none;
	text-align: center;

}
.card-footer a:hover{
	text-decoration: none;
	color: black;
	background-color: #00FFFF;
	box-shadow: 0 0 20px 0 lightgrey;
}

.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.card:hover .card-header{
	color:#00FFFF;
}

.card-top{
	transform: translateY(-20px);
}

.con{
	font-family: verdena;
	margin-bottom: 40px;

}

.forcontact{
	width: 100%;
	height: 100vh;
	padding: 80px 0px;
	position: relative;
	margin-top: 50px;
}

.forcontact::before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(-160deg , #87CEEB 50%, #fff 0%);
}

.bottom button{
	border: 1px solid skyblue;
	border-radius: 100px;
	padding: 7px 35px;
	margin: 5px 5px;
	text-decoration: none;
	text-align: center;
	background-color: #00BFFF;
	color: black;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);


}

.new-form{
	width: 200px;
	border-radius: 10px;
}

li{
	list-style: none;
	text-align: center;


}
li a{
	color: white;
	text-decoration: none;
}

.last{
	text-align: center;
	margin-top: 40px;
	font-size: 14px;
}

.footer-div{
	width: 100%;
	height: auto;
	padding: 50px 0 30px 0;
	background-color: #1E90FF;
	color: white;
}

@media(max-width: 768px){
	.nav-item{
		text-align: center;
		color: black;
	}
	.price{
		height: auto;
	}

	.navsecond{
		margin:25px 0px;
	}
	.card-top{
		transform: translateY(0px);
	}
	.topp{
		text-align: center;
	}
	.top-icon{
		color: black;
	}

}